@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #0E365A;
    display: flex;
    align-items: center;
    padding: 1% 5%;
}

#navlogo {
    height: 10vh;
}

nav ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-left: 5%;
}

nav ul li {
    list-style: none;
    font-weight: 400;
    font-size: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

#mainnav {
    background-color: #0B2B47;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3vh;
}

#mainnav input {
    width: 50%;
    padding: 6px 24px;
    font-weight: 300;
    border-radius: 10px;
    height: 5vh;
    font-size: 1.2rem;
    border: none;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#mainnav input::placeholder {
    color: #D9D9D9;
}

#mainnav input:focus {
    outline: none;
}

#mainnav ul {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

#mainnav ul li {
    list-style: none;
    font-weight: 400;
    font-size: 1rem;
}

#mainnav ul li a {
    text-decoration: none;
    color: white;
}

.activenav, #mainnav .activenav {
    text-decoration: underline;
    font-weight: bold;
}

#content {
    display: flex;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #F5F5F5;
    padding-top: 5vh;
    justify-content: space-between;
    padding-bottom: 5vh;
}

#left {
    width: 30%;
}

#news {
    background-color: white;
    border-radius: 15px;
    padding: 12px 24px;
}

h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
}

.date {
    font-weight: 500;
    color: #1F5F88;
    font-size: 1rem;
}

#info {
    font-weight: 300;
    font-size: 1rem;
    margin-top: 2vh;
}

.borderline {
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.58);
    margin-bottom: 2vh;
    margin-top: 2vh;
}

h3 {
    text-transform: uppercase;
    color: #1F5F88;
    font-weight: 700;
    font-size: 1rem;
}

.update {
    font-weight: 300;
    font-size: 1rem;
}

#contact {
    background-color: white;
    border-radius: 15px;
    padding: 12px 24px; 
    margin-top: 3vh;
    padding-bottom: 3vh;
}

.profname {
    color: #0E365A;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 2vh;
}

#options {
    background-color: white;
    border-radius: 15px;
    padding: 12px 24px;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#options button {
    padding: 12px 24px;
    border: none;
    background-color: #0B2B47;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;
    border-radius: 15px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    cursor: pointer;
    width: 17rem;
}

#right {
    width: 63%;
    background-color: white;
    border-radius: 15px;
    padding: 16px 32px;
    padding-bottom: 5vh;
}

h1 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 2vh;
}

.maintext {
    font-weight: 300;
    font-size: 1rem;
}

#right ul {
    margin-left: 4vw;
}

.blue {
    color: #1F5F88;
    font-weight: 400;
}

footer {
    background-color: #0B2B47;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: center;
}

#logo {
    width: 20%;
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: justify;
    margin-right: 5vw;
}

#logolmao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

#footerimg {
    height: 10vh;
}

#borderline2 {
    height: 25vh;
    border-right: 5px solid white;
    margin-right: 5vw;
}

#borderline3 {
    height: 25vh;
    border-right: 1px dashed rgba(255, 255, 255, 0.17);  
    margin-right: 5vw;
    margin-left: 5vw;
}

.links h4 {
    color: white;
    text-decoration: underline;
    margin-bottom: 2vh;
}

.links ul li {
    list-style: none;
    margin-bottom: 0.7vh;
}

.links ul li a {
    text-decoration: none;
    color: white;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 3% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 15px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h5 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

#modalForm {
    display: flex;
}

#modalleft {
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#modalleft p {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

#modalleft input {
    width: 90%;
    padding: 10px 6px;
    border: 1px solid #D9D9D9;
    font-size: 0.8rem;
}

#modalleft input:focus {
    outline: none;
}

#modalleft textarea {
    resize: none;
    width: 90%;
    padding: 10px 6px;
    border: 1px solid #D9D9D9;
    font-size: 0.8rem;
}

#modalleft textarea:focus {
    outline: none;
}

#modalleft button {
    background-color: #0B2B47;
    color: white;
    text-transform: uppercase;
    border-radius: 15px;
    border: none;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 6px 50px;
    margin-top: 2vh;
    cursor: pointer;
}

#modalright {
    width: 40%;
    font-weight: 300;
    font-size: 1rem;
}